& when (@media-common = true) {
    .pagebuilder-slider-wrapper.pagebuilder-slider-floating {
        //Move wrapper in the opposite child way, and add negative margin bottom to move next element and make it overlapping the slider
        -webkit-transform: translateY(-40%);
        transform: translateY(-40%);
        margin-bottom: -140px!important;
        .tns-outer {
            -webkit-transform: translateY(40%);
            transform: translateY(40%);

            .tns-nav {
                position: absolute;
                top: unset;
                text-align: left;
                padding-left: 10px;
                bottom: 145px;
                padding-bottom: 0;
            }

            .tns-controls {
                top: 135px;
            }
        }
    }

    // Fix heading z-index for slider floating overflow
    [data-content-type='heading'] {
        z-index: 1;
    }
}
