@password-utils-icon__color: @control-icon__color;
@password-utils-icon-hover__color: @control-icon-hover__color;
@password-utils-icon-focus__color: @control-icon-focus__color;
@password-utils-icon-valid__color: @control-icon-valid__color;
@password-utils-icon-error__color: @control-icon-error__color;
@password-utils-icon__font-size: @control-icon__font-size;
@password-utils-icon__line-height: @control-icon__line-height;
@password-utils-icon__height: @control-icon__height;
@password-utils-icon__width: @control-icon__width;
@password-utils-icon-text-gutter: @control-icon-text-gutter;
@password-utils-icon-border-gutter: @control-icon-border-gutter;
@password-utils-icon-rtl: true;


// requires _icons_control-icons.less
& when(@media-common = true) {
  .password-utils-container{
    &:extend(.control-icon-container);
      .dna-extend-control-icon-icon(~'.password-utils', @password-utils-icon-rtl);

    .dna-control-icon-variant(
      @icon-color:         @password-utils-icon__color,
      @icon-color-hover:   @password-utils-icon-hover__color,
      @icon-color-focus:   @password-utils-icon-focus__color,
      @icon-color-valid:   @password-utils-icon-valid__color,
      @icon-color-error:   @password-utils-icon-error__color,
      @icon-font-size:     @password-utils-icon__font-size,
      @icon-line-height:   @password-utils-icon__line-height,
      @icon-height:        @password-utils-icon__height,
        @icon-width:         @password-utils-icon__width,
        @icon-text-gutter:   @password-utils-icon-text-gutter,
        @icon-border-gutter: @password-utils-icon-border-gutter
    );

    .password-utils{
      pointer-events: all !important;
      cursor: pointer;
    }
  }
}
